<ion-content class="ion-padding">
  <div class="goBack" (click)="navigate('/settings')">
    <p>X</p>
  </div>
  <div class="heading" style="display: flex; justify-content: center; align-items: center; text-align: center; margin-top: 40px; gap: 10px;">
    <div class="circle" style="display: flex; justify-content: center; align-items: center; border-radius: 50%; height: 100px; width: 100px; background-color: #333;"
    (click)="presentActionSheet()">
      <p style="color: #fff; font-weight: bold; margin: 0;">LH</p>
    </div>
    <p style="color:#000; font-weight: bold; font-size: 22px;">Lungile Hlakanyane <br>
      <span style="color:#333; font-size: 13px;">Joined March 20, 2025</span>
    </p>
  </div>

  <div class="options-container">
    <p class="heading text" style="color:#000; font-weight: bold; font-size: 22px;">General</p>
    <div style="display: flex; gap:10px;">
      <ion-icon name="person-outline"></ion-icon>
      <ion-item style="position: relative; bottom: 12px;">
        <ion-input label="" placeholder="Full Name"></ion-input>
      </ion-item>
    </div>
    <div style="display: flex; gap:10px;">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-item style="position: relative; bottom: 12px;">
        <ion-input label="" placeholder="Email"></ion-input>
      </ion-item>
    </div>
    <div style="display: flex; gap:10px;">
      <ion-icon name="call-outline"></ion-icon>
      <ion-item style="position: relative; bottom: 12px;">
        <ion-input label="" placeholder="Phone Number"></ion-input>
      </ion-item>
    </div>
    <div style="display: flex; gap:27px;">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-item style="position: relative; bottom: 12px;">
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="New Password"
          [(ngModel)]="newPassword">
        </ion-input>
        <ion-icon
          [name]="showPassword ? 'eye-off' : 'eye'"
          slot="end"
          (click)="togglePasswordVisibility()"
          style="cursor: pointer;"
        ></ion-icon>
      </ion-item>
      
    </div>
    <p class="heading text" style="color:#000; font-weight: bold; font-size: 22px;">Notifications</p>
    <div style="margin-bottom:10px;">
      <ion-toggle justify="space-between">Push Notifications</ion-toggle>
    </div>
    <div>
      <ion-toggle justify="space-between">SMS Notifications</ion-toggle>
    </div>
    <div class="theme-container" style="position: relative; top:20px;">
      <p class="heading text" style="color:#000; font-weight: bold; font-size: 22px;">Theme</p>
    <div style="position: relative; bottom:15px;">
      <ion-toggle justify="space-between">Light Mode</ion-toggle>
    </div>
    </div>

    <div class="action-btn-container" style="margin-top:20px; margin-bottom:10px;">
      <ion-button expand="block" class="custom-btn" (click)="saveProfile()">Save</ion-button>
    </div>
  </div>
 </ion-content>
 