<ion-content class="ion-padding">
  <form [formGroup]="signUpForm">
    <div class="content" style="text-align: center; margin-top: 50px;">
      <div class="title">
        <h1 style="color:#000000; font-weight: bold; font-size: 55px; font-style: italic;">MoneyMate</h1>
        <p style="color:#000; font-weight: bold; font-size: 35px;">Welcome</p>
        <p style="color:grey; font-size:16px; font-weight: 300;position: relative; bottom:22px;">Please Sign Up to manage your finances</p>
      </div>
    </div>

    <div class="input-container">
      <!-- Username -->
      <div class="input-card">
        <ion-input formControlName="username" placeholder="Username"></ion-input>
        <ion-text color="danger" *ngIf="f['username'].touched && f['username'].errors?.['required']">
          Full name is required
        </ion-text>
      </div>

      <!-- Email -->
      <div class="input-card">
        <ion-input formControlName="email" placeholder="Email" type="email"></ion-input>
        <ion-text color="danger" *ngIf="f['email'].touched && f['email'].errors?.['required']">
          Email is required
        </ion-text>
        <ion-text color="danger" *ngIf="f['email'].touched && f['email'].errors?.['email']">
          Invalid email address
        </ion-text>
      </div>

      <!-- Password -->
      <div class="input-card" style="display: flex; justify-content: space-between;">
        <ion-input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password">
        </ion-input>
        <p style="font-size: 25px; position: relative; bottom:15px;" (click)="togglePassword()">
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </p>
      </div>
      <ion-text color="danger" *ngIf="f['password'].touched && f['password'].errors?.['required']">
        Password is required
      </ion-text>
      <ion-text color="danger" *ngIf="f['password'].touched && f['password'].errors?.['minlength']">
        Password must be at least 6 characters
      </ion-text>

      <!-- Remember Me -->
      <ion-checkbox>Remember me</ion-checkbox>

      <!-- Submit -->
      <div class="action-btn-container" style="margin-top: 20px;">
        <ion-button expand="block" class="custom-btn" (click)="signUp()">Sign Up</ion-button>
      </div>

      <!-- Social Options -->
      <div class="login-other-option-container">
        <p style="color:grey;">or</p>
        <ion-grid>
          <ion-row>
            <ion-col style="text-align: start;">
              <div class="input-social-media">
                <p style="font-size: 30px;"><ion-icon name="logo-apple"></ion-icon></p>
              </div>
            </ion-col>
            <ion-col style="text-align: center;">
              <div class="input-social-media">
                <p style="font-size: 30px;"><ion-icon name="logo-facebook"></ion-icon></p>
              </div>
            </ion-col>
            <ion-col style="text-align: end;">
              <div class="input-social-media">
                <p style="font-size: 30px;"><ion-icon name="logo-google"></ion-icon></p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Sign In Redirect -->
      <div class="text-container" style="text-align: center;">
        <p style="color:grey; font-size: 14px; font-weight: 300;">
          Already have an account?
          <span style="color:#000; text-decoration: underline;" (click)="navigate('/login')">Sign-In</span>
        </p>
      </div>
    </div>
  </form>
</ion-content>
