<ion-content class="ion-padding">
  <div class="goBack" (click)="navigate('/settings')" style="display: flex; gap:20px;">
    <p style="color:#000; font-weight: bold; font-size: 30px;">X</p>
    <p style="color:#000; font-weight: bold; font-size: 30px;">Terms & Conditions</p>
  </div>

  <div class="main-container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Introduction</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>By using this finance management app, you agree to comply with and be bound by these terms and conditions. If you do not agree, please do not use the app.</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Use of the App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This app is designed to help users track and manage their personal finances. You must be at least 18 years old to use this app.</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>User Responsibilities</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>You are responsible for keeping your account information secure. Do not share your login credentials with others.</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Privacy</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>We respect your privacy. Please read our Privacy Policy for details on how your data is collected and used.</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Limitation of Liability</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>The app is provided “as is” without warranties of any kind. We are not liable for any damages resulting from the use of this app.</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Changes to Terms</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>We may update these terms at any time. Continued use of the app means you accept the new terms.</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>If you have any questions about these Terms & Conditions, please contact us at lungilehlakanyane&#64;gmail.com.</p>
      </ion-card-content>
    </ion-card>
  
  </div>

</ion-content>
