<ion-content class="budget-screen">

  <!-- Header Section -->
  <div class="header">
    <h2>Total Expenses</h2>
    <ion-icon name="close-sharp" class="check-icon" (click)="navigate('/home')"></ion-icon>
    <div class="balance-amount">R {{totalSpent | number: '1.0-2'}} <span>Spent so far</span></div>
    <ion-progress-bar 
    color="medium" 
    [value]="getSpendingProgress()">
  </ion-progress-bar>  
    <div class="spent-text">R{{totalSpent | number: '1.0-2'}} of R{{incomeAmount | number: '1.0-2'}} spent</div>
  </div>

  <!-- Income Section -->
  <ion-card class="budget-card">
    <ion-card-header>
      <ion-card-title>
        Income 
        <span class="amount" (click)="presentSalaryPrompt()" style="cursor: pointer;">+</span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="budget-row">
        <div>
          <strong>Income</strong>
          <div class="subtext">
            R{{ getRemainingAmount() | number: '1.0-2' }} left
          </div>
        </div>
      </div>
    
      <ion-progress-bar 
        color="primary" 
        [value]="getSpendingProgress()">
      </ion-progress-bar>
    
      <div class="progress-text">
        R{{ totalSpent | number: '1.0-2' }} of R{{ incomeAmount | number: '1.0-2' }}
      </div>
    </ion-card-content>
    
  </ion-card>

  <!-- Expenses Section -->
  <ion-card class="budget-card-part-2">
    <ion-card-header>
      <ion-card-title>All Expenses <span class="negative-amount">R {{totalSpent | number: '1.0-2'}}</span></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="list-transactions" style="margin-bottom: 60px;">
        <div class="item">
          <ion-grid>
            <ion-row *ngFor="let expense of expenses" (click)="presentActionSheet(expense)">
              <ion-col>
                <img [src]="getIcon(expense.category)" style="width: 40px; height: 40px;">
              </ion-col>
              <ion-col style="text-align: start;">
                <p style="color:#fff; font-size: 14px; font-weight: bold;">{{ expense.description }}</p>
                <p style="color:grey; font-size: 12px; font-weight: bold;line-height: 1px;">
                  {{ expense.dateTime | date:'dd MMM yyyy' }}
                </p>
              </ion-col>
              <ion-col style="text-align: end;">
                <p style="color:#fff; font-size: 14px; font-weight: bold;">R{{ expense.amount | number:'1.2-2' }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="action-btn-container">
    <ion-button expand="block" class="custom-btn" (click)="addExpanse()">Add Expense</ion-button>
  </div>

</ion-content>
