<div class="main-content" style="margin-top: 25px; padding: 30px;;">
  <div class="heading" style="display: flex; justify-content: center; align-items: center; text-align: center;">
   <img src="../../../../assets/icons/success-tick.svg" style="height:40px; width:40px;">
  </div>
  <h1 style="color:#000; font-weight: bold; font-size: 25px;">Next step</h1>
  <p  style="color:#a0a0a0; font-weight: bold; font-size: 15px;">
    MoneyMate has sent an email for verification, go to your email and activate your acccount before logging in.
  </p>
  <div class="action-btn-container">
    <ion-button expand="block" class="custom-btn" (click)="dismiss()">OK</ion-button>
  </div>
</div>