.full-content{
  --background: #000;
  padding: 25px;
}

.card{
  border-radius: 25px;
  height: 75px;
  border: 1px solid  rgb(100, 100, 100);
  background-color: rgb(100, 100, 100);
  width: 170px;
  padding-left: 10px;
}

.header-container{
  height:100px;
  position: relative;
  bottom: 50px;;
}