.circle{
    background-color: #adadad;
}

.custom-btn{
    --background: #000;
    --border-radius: 30px;
    --box-shadow:none;
    height:60px;
    text-transform: none;
    font-weight: bold;
    font-size: 20px;
}